/* Write your CSS here */
.heading {
  font-size: 20px;
  color: #cbd5e1;
  font-weight: 600;
  font-family: 'Roboto';
}
.vaccination-coverage-bg-con {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  padding: 10px;
  width: 80vw;
  margin: 20px;
  border-radius: 10px;
  max-height: 500px;
}
